.columnaCentrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 80px;
    margin-top: 20px;
}
#divSubtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#divSubtitulo button {
    height: 35px;
}
#divContenedor {
    width: 30vw;
    background-color: rgba(43,60,41,0.9);
    border-radius: 15px;
    padding: 30px;
}
form {
    gap: 30px;
    padding: 30px;
}
.my-button {
    width: 150px;
}