.columnaCentrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 80px;
    margin-top: 20px;
}
#divSubtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#divSubtitulo button {
    height: 35px;
}
#divContenedor {
    width: 30vw;
    min-width: 355px;
    background-color: rgba(43,60,41,0.9);
    border-radius: 15px;
    padding: 30px;
    color: white;
}
form {
    gap: 30px;
}
#puntosTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.opcionTop {
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.my-button {
    width: 150px;
}
/* Snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* ESTA MEDIA QUERY ESTA HECHA SOBRE MI PORTATIL DE 14" */
@media screen and (min-width: 1000px) and (max-width: 1500px) {
    h1 {
        margin-bottom: 20px;
    }
    #divContenedor {
        width: 40vw;
    }
    form {
        gap: 20px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    /* POR COMPLETAR */
}