.hide {
    display: none;
}
header {
    display: flex;
    flex-direction: column;
    height: auto;
}
header h2 {
    margin-bottom: 0;
}
#barraBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#contadorTiradas {
    margin: 0;
    position: relative;
    right: 175px;
}
#divContenedor {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.carta {
    transform: scale(0.9);
}
@media screen and (min-width: 1500px) {
    #divContenedor {
        width: 1500px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
    #divContenedor {
        width: 1000px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    #divContenedor {
        width: 500px;
    }
}
.cartaAnimacion {
    animation-duration: 3s;
    animation-name: slidein;
    position: relative;
}
@keyframes slidein {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}
.desconectar:hover {
    background-color: #6D0404FF;
}
#adminBtn:hover {
    background-color: dodgerblue;
}
a{
    text-decoration: none;
}