body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
    overflow-x: hidden;
}

.campo{
    position: relative;
    background-image: url("../recursos/campo-plantilla.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: calc(100vh - 300px);
    width: 1200px;
    margin: auto;
}

#deli{
    position: relative;
    color: white;
    position: relative;
    width: fit-content;
    cursor: grab;
    margin: auto;
}

#deld{
    position: relative;
    color: white;
    position: relative;
    width: fit-content;
    cursor: grab;
    margin: auto;
}

#defi{
    position: relative;
    color: white;
    position: relative;
    width: fit-content;
    cursor: grab;
    margin: auto;
}

#defd{
    position: relative;
    color: white;
    position: relative;
    width: fit-content;
    cursor: grab;
    margin: auto;
}

#por{
    position: relative;
    color: white;
    position: relative;
    width: fit-content;
    cursor: grab;
    margin: auto;
}

.buttons{
    position: absolute;
    left: 5px;
    top: 5px;
}

.trash{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 23px;
    right: 10px;
    font-size: xx-large;
    background-color: white;
    border-radius: 1rem;
    padding: 5px;
    display: none;
    cursor: pointer;
    text-decoration: none;
}

svg{
    width: 30px;
    height: 30px;
    color: red;
}

.card:hover .trash {
    display: block;
}
#inventario{
    position: absolute;
    bottom: 0;
    overflow-x: scroll; 
    width: 100vw;
    height: 310px;
    display: flex;
}

img{
    height: 300px;
}
