body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
    overflow-x: hidden;
}

.card {
    position: relative;
    color: white;
    width: fit-content;
    cursor: grab;
    margin: auto;
    transform: scale(0.9);
}

.campo{
    position: relative;
    background-image: url("../recursos/campo-plantilla.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 210px;
    height: 650px;
    width: 805px;
    margin: auto;
}

.buttons{
    position: absolute;
    left: 5px;
    top: 5px;
}
@media screen and (max-width: 1327px) {
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.trash{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 23px;
    right: 10px;
    font-size: xx-large;
    background-color: white;
    border-radius: 1rem;
    padding: 5px;
    display: none;
    cursor: pointer;
    text-decoration: none;
}

svg{
    width: 30px;
    height: 30px;
    color: red;
}

.card:hover .trash {
    display: block;
}
#inventario{
    position: absolute;
    bottom: 0;
    overflow-x: scroll; 
    width: 100vw;
    height: 254px;
    display: flex;
}

img{
    height: 250px;
}
