h1 {
    font-size: 90px;
}
#divContenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}
audio {
    color: #3e8e41;
}
form {
    width: 550px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(43,60,41,0.9);
    border-radius: 25px;
    color: white;
    padding: 15px 0;
}
form input {
    width: 30%;
}
.my-button {
    padding: 20px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.my-button:hover {
    background-color: #45a049;
}
.my-button:active {
    background-color: #3e8e41;
}

input, select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
    font-size: 16px;
    color: #eee;
    position: absolute;
    top: 29px;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 50px;
    padding: 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgba(43, 60, 41, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    cursor: pointer;
}
.hide {
    display: none !important;
}