body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-image: url("https://images.alphacoders.com/510/510026.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}
header {
    height: 20vh;
    padding: 2em;
}
header h1 {
    font-size: 70px;
    margin: 0;
}
.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.my-button:hover {
    background-color: #45a049;
}
.my-button:active {
    background-color: #3e8e41;
}